.sale-property-pin{
    position: absolute;
    bottom: 28.5%;
    left: 41.3%;
    padding-left: 40px;
    width: 390px;
    min-height: 380px;

    &:before, &:after{
        position: absolute;
        content:""
    }
    &:before{
        border-bottom: 5px solid #0b2dcc;
        width: 100%;
        top: 34px;
        right: 0;
    }
    &:after{
        border-left: 5px solid #0b2dcc;
        left: 40px;
        top: 0;
        bottom: 0;
    }
}
.for-sale-container{
    position: relative;
    border: 5px solid #0b2dcc;
    border-radius: 20px;
    padding: 24px 24px 16px;
    width: 334px;
    overflow: hidden;
    margin-left: auto;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #fff;
        opacity: 0.7;

    }
}
.sale-header{
    position: relative;
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 16px;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #fff;
        opacity: 0.4;

    }
}
.sale-header-wrapper{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    .icon{
        position: absolute;
        left: 10px;
    }
}
.sale-header-text{
    font-size: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0 auto;
}
.sale-content-wrapper{
    position: relative;
    z-index: 1;
    text-align: center;
}
.sale-text{
    font-size: 22px;
    letter-spacing: 1.5px;
    margin-bottom: 35px;
}
.address-text-highlight{
    font-size: 22px;
    letter-spacing: 1.75px;
    margin-bottom: 2px;
}
.address-text{
    font-size: 15px;
    letter-spacing: 2px;
}
.reserve-bid{
    font-size: 15px;
    margin-top: 27px;
    letter-spacing: 1.25px;
}